{% extends "base.jinja2" %}
{% block content %}
<form action="{{request.route_url('email')}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
  <button>Test</button>
</form> 
{% endblock content %}
