{% extends "base.jinja2" %}
{% block content %}
    <ul class="columns">
      <li>
        <div>
          <i class="far fa-gem fa-10x"></i>
          <h1>Gems only.</h1>
          <p>Opportune mines for you. Don't waste time combing through job descriptions. We only serve up jobs that are relevant to you, based on your keyword preferences.</p>
        </div>
      </li>
      <li>
        <div>
          <i class="far fa-hourglass fa-10x"></i>
          <h1>Save time.</h1>
          <p>Gone are the days of searching four different job boards each day. Opportune does the work for you, with convenient email notifications, so you don't have to.</p>
        </div>
      </li>
      <li>
        <div>
          <i class="fas fa-laptop fa-10x"></i>
          <h1>Hire smarter.</h1>
          <p>You might not be reaching people who want to work for you. Opportune can arm you with keyword statistics so you know what potential employees look for.</p>
        </div>
      </li>
    </ul>
{% endblock content %}