{% extends "base.jinja2" %}
{% block content %}
    <div class="profile container">
    <h1>Profile</h1>
    <h3>Update your profile</h3>
    <form class="updateProfile" method="PUT">
          <input class="email" name="email" type="text" placeholder="email@address.com" required>
          <input class="password" name="password" type="password" placeholder="password" required>
          <button type="submit">Update Profile</button>
    </form>
    <h3>Edit your keywords</h3>
  </div>
{% endblock content %}
