{% extends "base.jinja2" %}
{% block content %}
    <div class="profile container">
    <h1>Profile</h1>
    <h3>Update your profile</h3>
    <form class="updateProfile" method="PUT">
          <input class="email" name="email" type="text" placeholder="email@address.com" required>
          <input class="password" name="password" type="password" placeholder="password" required>
          <button type="submit">Update Profile</button>
    </form>
    <h3>Edit your keywords</h3>
    {% if message %}
    <p>{{message}}</p>
    <a href="{{request.route_url('search')}}">Click here</a> to add keywords and search.
    {% endif %}
    {% if keywords %}
    <p>Your current keywords:</p>
    {% for keyword in keywords %}
    <form action="{{request.route_url('keywords/delete')}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
      <input type="hidden" name="keyword" value="{{keyword.keyword}}">
      <button class="keyword">x {{keyword.keyword}}</button>
    </form>
    {% endfor %}
    {% endif %}

  </div>
{% endblock content %}
