{% extends "base.jinja2" %}
{% block content %}
{% if message %}
<p>{{message}}</p>
{% endif %}
{% if keywords %}
<p>Your current keywords:</p>
{% for keyword in keywords %}
<form action="{{request.route_url('keywords/delete')}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
  <input type="hidden" name="keyword" value="{{keyword.keyword}}">
  <button>{{keyword.keyword}}</button>
</form>
{% endfor %}
{% endif %}
<form action="{{request.route_url('keywords')}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
  <input class="keyword" name="keyword" type="text" placeholder="keyword" required>
  <button>Add Keyword</button>
</form> 
<form action="{{request.route_url('search/results')}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
  <input class="city" name="city" type="text" placeholder="city" required>
  <button>Run Scraper</button>
</form> 
<form action="{{request.route_url('search/email')}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
  <button>Test Email</button>
</form>
{% endblock content %}
