header {
  background-color: rgb(0, 206, 252);
  color: white;
  list-style: none;
  height: 8vw;
  font-family: 'Pacifico';
  font-size: 1.5vw;
  font-style: italic;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header h1 {
  position: absolute;
  top: -5px;
  left: 42.5%;
}

footer {
  background-color: rgb(140, 140, 140);
  color: white;
  list-style: none;
  height: 7vw;
  font-family: 'Pacifico';
  position:fixed;
  font-size: 1.75vw;
  font-style: italic;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer ul li {
  list-style: none;
  font-family: 'Roboto';
  font-size: 1vw;
  display: inline-block;
}
