.columns {
  list-style-type: none;
  font-family: 'Roboto';
  text-align: center;
}

.columns li {
  display: inline-block;
  margin: 4vw;
  padding: 20px;
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.keywordList {
  list-style-type: none;
  text-align: center;
}

.keywordList li {
  display: inline-block;
}

.fa-gem, .fa-hourglass, .fa-laptop {
  padding-top: 10px;
  color: lightgrey;
  transition: all 0.4s ease-in-out;
}

.fa-gem:hover, .fa-hourglass:hover, .fa-laptop:hover {
  padding-top: 10px;
  color: rgb(0, 206, 252);
  transition: all 0.4s ease-in-out;
}

.columns h3, h2, h1 {
  font-family: 'Pacifico';
}

button {
  color: black;
  background-color: rgb(255, 147, 7);
  font-size: 1vw;
  height: 40px;
  width: 255px;
}

.keyword {
  font-family: 'Roboto';
  background-color: rgba(0, 206, 252, 0.4);
  width: inherit;
}

.keyword::first-letter { 
    font-size: 150%;
    color: rgb(255, 0, 0);
}

.forms {
  list-style-type: none;
  margin-left: 20%;
}

.forms li {
  display: inline-block;
  margin: 50px;
}

.updateProfile input {
  margin-left: 41.25%;
}

.scraper {
  text-align: center;
}

.scraper input {
  margin-left: 41.25%;
}

.login, .register, .profile {
  text-align: center;
}

.searchKeywords {
  text-align:center;
}

.addKeyword {
  text-align: center;
}

.addKeyword input {
  margin-left: 41.25%;
}

form {
  font-family: 'Roboto';
}

form input {
  text-align: center;
  display: block;
  width: 250px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10%;
}

.sendEmail {
  margin-bottom: 8vw;
}

#new-results {
  list-style-type: none;
  border-style: inset;
  border-width: 3px 10px 3px 10px;
  border-radius: 5px;
  border-color: black;
  padding-bottom: 25px;
  padding-top: 10px;
  margin: 0px 20px 0px 20px;
}

/*************************************/
/*Everything below is driving the menu*/
/*************************************/
a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 45px;
  left: 40px;
  width: 100px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  font-family: 'Roboto';
  font-style: italic;
  position: absolute;
  width: 180px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #c9c9c9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

